<header class="site-header">

  <div class="wrapper">

    {% if page.layout != "about" %}
    <span class="site-title">
        {% assign name = site.name | split: ' ' %}
        <!-- <strong>{{ name | first }}</strong> {{ name | last }} -->
        {{ name | first }} {{ name | last }}
    </span>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">About</a>


        <!-- Pages -->
        <!-- {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        -->
        
        <a class="page-link" href="{{ '/publications/' | prepend: site.baseurl | prepend: site.url }}">Publications</a>
        
        <a class="page-link" href="{{ '/cv/' | prepend: site.baseurl | prepend: site.url }}">CV</a>
        
        <a class="page-link" href="{{ '/software/' | prepend: site.baseurl | prepend: site.url }}">Software</a>
        
        <a class="page-link" href="{{ '/teaching/' | prepend: site.baseurl | prepend: site.url }}">Teaching</a>
        
        <!-- <a class="page-link" href="{{ '/talks/' | prepend: site.baseurl | prepend: site.url }}">Talks</a> -->
        
        <!-- Blog -->
        <!-- <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">Blog</a> -->

        <!-- CV link -->
        <!-- <a class="page-link" href="{{ '/assets/pdf/CV.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a> -->

      </div>
    </nav>

  </div>

</header>
