---
layout: page
title: Test Talk
permalink: /talks_test/
tags: contact
---


  {% if site.ajaxify_contact_form %}
  <div class="py2">
    <form class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="{{ site.text.contact.content }}"></textarea>
      <input type="text" name="_gotcha" style="display:none" />
      <button type='submit' class="button button-blue button-big mobile-block">{{ site.text.contact.submit }}</button>
    </form>
  </div>
  {% else %}
  <!--
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="{{ site.text.contact.content }}"></textarea>
      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="{{ site.text.contact.subject }}" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="submit" class="button button-blue button-big mobile-block" value="{{ site.text.contact.submit }}">
    </form>
  -->

    <ul>
        <li>
            Email: {{ site.email }}</p>
        </li>
        <li>
            Website: <a href="http://www.stat.wisc.edu/~huling">stat.wisc.edu/~huling</a></p>
        </li>
        <li>
            Software: <a href="https://github.com/{{ site.github_username }}">GitHub</a></p>
        </li>
    </ul>

  {% endif %}


{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
