---
layout: default
---

<div class="post">

  <article class="post-content clearfix">

    <div class="profile-section">

      <div class="profile-info">
        <h1 class="profile-name">{{ page.title }}</h1>

        {% if page.description %}
        <div class="profile-title">{{ page.description }}</div>
        {% endif %}

        <div class="profile-bio">
          {{ content }}
        </div>
      </div>

      {% if page.profile and page.profile.image %}
      <div class="profile-image">
        <img src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}"
             alt="{{ page.title }}">
        {% if page.profile.address %}
        <div class="profile-contact">
          {{ page.profile.address }}
          <div>
            <script type="text/javascript">
              generator('hu' + 'li' + 'ng', 'umn', 'u', 'd', 'e');
            </script>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}

    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.social %}
      {% include social.html %}
    {% endif %}

  </article>

</div>
