---
layout: default
---

<div class="post">
    
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <h4 class="post-description">{{ page.description }}</h4>
      </header>
    
      <article class="post-content {{page.title}} clearfix">
  
        <div class="docs-section">
          
          <div class="row">
              
              {% if page.profile %}
              <div class="three columns profile {{ page.profile.align }}">
                <!-- <div class="profile col one {{ page.profile.align }}"> -->
                  {% if page.profile.image %}
                    <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
                  {% endif %}
                  {% if page.profile.address %}
                    <div class="address">
                      {{ page.profile.address }}
                    </div>
                    <div class="address">
                      <script type="text/javascript"> 
                          gen_mail_to_link('huling' + '.' +  '7', 'osu', 'u', 'd', 'e');
                      </script>
                    </div>
                  {% endif %}
                <!-- </div> -->
              </div>
              {% endif %}
              
        
              <div class = "seven columns">
                  {{ content }}
              </div>
          </div>
        </div>
      </article>

      {% if page.news %}
        {% include news.html %}
      {% endif %}
    
      {% if page.social %}
        {% include social.html %}
      {% endif %}
    
</div>